name: CI Spring Boot Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar código
        uses: actions/checkout@v3

      - name: Dar permisos al gradlew
        run: chmod +x ./gradlew

      - name: Configurar Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Construir con Gradle
        run: ./gradlew build -x test

      - name: Resultado final
        run: echo "CI ejecutada correctamente ✔"

